
.ChatsDisplayBox{
    width:98%;
    border-radius: 20px;
    /* border: 3px solid rgb(110, 110, 110); */
    height: 95%;
    margin:10px;
    overflow-y: scroll;
    top:0;
    position: absolute;
    justify-content: start;
    align-content: center;
}

.ChatsContainer{
    display: flex;
    position: relative;
    height: 90%;
}
.ChatsContainer>ul{
    margin-bottom: 0;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width:10px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(36, 36, 36);
    border-radius: 20px;
}
.ChatsContainer::-webkit-scrollbar-track{
    margin-top: 12px;
}


