p{
    font-size: 2em;
    color:white
}

.Chat{
    display: flex;
    width: 90%;
    border-top: 2px solid rgb(28, 28, 28);
    flex-direction: column;
    max-height: fit-content;
    margin-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
}
.Chat>img{
    width:150px;
    height:150px;
}

.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: inherit;
    position: relative;
    justify-items: left;
}

.header>.username{
    position: relative;
    width:50%;
}

.time{
    display: flex;
    width:50%;
    position: relative;
    justify-content: flex-end;
    margin-right: 1em;
}

.mainBody{
    width: 100%;
    position: relative;
    word-wrap: break-word;
}