.chatPageContainer{
    width:100%;
    flex-direction: row;
    display: flex;
    min-height: 100vh;
    position: relative;
}

.ChatPageInput{
    background-color: rgb(68, 68, 68);
    color: white;
}
.ChatPageInput::placeholder{
    color: rgb(173, 173, 173);
}

.ToggleDashboardBtn{
    z-index: 1;
    color: black;
}

.ToggleDashboardBtn:hover{
    transform: scale(1.2, 1.2);
    color:rgb(161, 160, 255) !important;
}


