.chatBoxContainer{
    justify-content: center;
    
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
 
    background-color: rgb(58, 58, 58);
    border-radius: 20px;
    position: relative;
}

@media screen and (hover:none){
    .chatBoxContainer{
        min-width:0px !important;
        
    }
}

.showDashboardBtn{
    background-color: red;
    width:50px !important;
    height:50px !important;
    position: absolute !important;
    top: 20px;
    right:   20px;
}

