.messageBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: inherit;
    height: 90px;
    margin-bottom: 10px;
    width: 95%;
    bottom: 0;
    position: absolute;
    background-color: transparent;
}
.MessageBtns{
    width:180px;
    height:inherit;
    display: flex;
    align-items: center;
    z-index: 1;
    position: absolute;
    right:0;
    justify-content: flex-end;
}

.messageInput{
    width: calc(100% - 195px);
    font-size: 1em;
    height: 75%;
    border-radius: 20px;
    position: absolute;
    padding-right: 180px;
    padding-left: 15px;
}

.ImageUploadPreview{
    background-color: rgb(68, 68, 68);
    border-radius: 20px;
    width: fit-content;
    padding:10px;
    height:200px;
    position: absolute;
    top:-215px;
    right: 15px;
    display: flex;
    flex-direction: row;
}