.messageBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: 5em;
    margin-bottom: 10px;
    width: 95%;
    bottom: 0;
    position: absolute;
    background-color: transparent;
}
.MessageBtns{
    height:75%;
    display: flex;
    align-items: center;
    z-index: 1;
    position: absolute;
    right:1em;
    justify-content: center;
    
}

.messageInput{
    width: calc(100% - 4em);
    font-size: 1em;
    height: 75%;
    text-indent:10px;
    border-radius: 20px;
    position: absolute;
    padding-right:4em;
}

.ImageUploadPreview{
    background-color: rgb(68, 68, 68);
    border-radius: 20px;
    width: fit-content;
    padding:10px;
    height:200px;
    position: absolute;
    top:-215px;
    right: 15px;
    display: flex;
    flex-direction: row;
}