.messageBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: inherit;
    height: 10%;
    margin-bottom: 10px;
    width: 95%;
    bottom: 0;
    position: absolute;
    background-color: inherit;
}
.MessageBtns{
    width:20%;
    height:75%;
    min-width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
    position: absolute;
    right:0
}
.sendBtn{
    width:100px;
    height: 100%;
    margin-right:7px;
    background-color: rgb(68, 68, 68);
    font-size: 2em;
    display: inline-block;
    padding:0;
    border: 0;
    background-color: red;
}

.messageInput{
    width:100%;
    text-indent: 1em;
    font-size: 1em;
    height: 75%;
    border-radius: 20px;
    position: absolute;
}