.BtnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color:white;
    height: 60%;
    width: auto;
}

.MessageBtn{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
.MessageIcon{
    width: 100%;
    height: 100%;
}


.BtnContainer:hover{
    transform: scale(1.2, 1.2);
    color: rgb(164, 164, 164);
}