.DashboardNavBtn{
    width: 50% !important;
    border-right: solid black 2px;
    transform: none !important;
    border-radius: 0;
   
    &:first-child{
        border-bottom-left-radius: inherit;
    }
    &:last-child{
        border-right:0;
        border-bottom-right-radius: inherit;
    }
}
.DashboardNavBtn:hover{
    background-color: rgb(70, 70, 70);
    
}

