.UserListContainer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-top: 2px solid rgb(0, 0, 0);
    height:calc(100% - 20px - 7em);
    position: relative;
}

.UserListContainer > ul{
    list-style:none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    justify-self: start;
    overflow-y: scroll;
}

.UserListContainer > .title{
    padding-top: 5px;
    padding-bottom: 5px;
    height:fit-content;
}

