.userLoginPage{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.signUpPage, .logInPage{
    display: flex;
    flex-direction: column;
    width:calc(100% - 20px);
    max-width: 400px;
    position: relative;
    /* background-color: rgb(55, 55, 55); */
    border-radius: 5%;
    padding: 20px;
    padding-left: 40px;
    padding-right:40px;
    margin: 5px;
    align-items: center;
}
.logInPage{
    height: 500px;
}
.signUpPage{
    height: 650px;
}
/* @media screen and (hover:none) and (width < 1000px){
    .signUpPage, .logInPage{
        min-width:auto;
        height: 60vh !important;
        margin:10px;
         
    }
} */
@media screen and (max-height: 600px) {
    .logInPage{
        height: calc(100vh - 10px - 40px); 
    }
}
@media screen and (max-height: 700px) {
    .signUpPage{
        height: calc(100vh - 10px - 40px); 
    }
}
.info-btn{
    height: 40px;
    width: 40px;
    position: absolute;
    right:40px;
    &:hover{
        color: rgb(112, 112, 112);
        background-color: inherit;
    }
}
.info-btn>.BtnIcon{
    height: 100%;
    width: 100%;
}
.log-in-header{
    display: flex;
    flex-direction: row;
    width: 100%;
    
    align-items: center;
    justify-content: center;
}

.AuthTitle{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 3em;
}



@media screen and (height > 600px) and (hover:none){
    .inputBox{
        
        height: 35px !important;
        
    }
    .ValidationTick, .ValidationCross{
        width: 20px !important;
        height: 20px !important;
       
    }
}


.signUpPage>.AuthTitle{
    font-size: 3.5vh;
}


.AuthInputsContainer{
    height:fit-content;
    padding-top: 50px;
    padding-bottom: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}

.AuthInputs{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    gap: 50px;
    width: 100%;
}

.logInPage>.AuthInputs{
    gap:70px;
}
.signUpPage>.AuthInputs{
    gap:50px;
}

.input-box-container{
    display: flex;
    flex-direction: column;
    height: 50px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.auth-input-box{
    width:100%;
    height:100%;
    border-radius: 20px;
    border: solid black 2px;
    text-indent: 2%;
}
.seperation-line-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.seperation-line{
    height: 1px;
    width: 100%;
    background-color: white;
}
.ValidationTick, .ValidationCross{
    width: 15px;
    height: 15px;
    right: 0;
    border-radius: 50%;
    position:absolute;
    justify-content: center;
    align-items: center;
    display: flex;
}
.ValidationTick{
    border: solid green 2px;
}
.ValidationCross{
    border: solid red 2px;
}
.cross{
    color:red;
    width:90%;
    height:90%;
}

.tick{
    width:100%;
    height:100%;
    color:green;
}

h2, h1{
    color: rgb(167, 167, 167);
    margin-top: 0;
}


h1{
    margin: 0;
    white-space: nowrap;
}


.buttons{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30%;
    justify-content:space-around;
    gap:20px;
    padding-top:25px;
    padding-bottom: 20px;
    position: relative;
}
.authBtn{
    /* border: 2px solid rgb(158, 158, 158);
    border-radius: 20px; */
    width: 100%;
    height: calc(100%);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 1em;
    /* &:hover{
        transform: none;
        background-color: rgb(75, 75, 75);
    } */
    
}
.demo-header{
    margin-bottom: 5px;
    margin-top: 5px;
}
.profiles{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(3, 100px);
    margin-top:10px;
    width:100%;
    height: 100%;
}
@media screen and (max-width:380px) {
    .profiles{
        grid-template-columns: repeat(2, 100px);
    }
}
@media screen and (max-width:280px) {
    .profiles{
        grid-template-columns: repeat(1, 100px);
    }
}
